/* ==========================================================================
   breadcrumb
   ========================================================================== */

.breadcrumb {
    border: 1px solid $couleur-degrade-clair;
    border-width: 1px 0 0;
    // border-top-color: $couleur-degrade-sombre;
    padding: .5em 0;
    // font-family: $lato-font;
    @include font-size(14px);
    // text-transform: uppercase;
    strong {
        font-weight: normal;
        color: #999;
    }
    a:hover {color: $couleur-degrade-sombre;}
}
