/*  ==========================================================================
    list
    ========================================================================== */

/*
    bare-list
    ========================================================================== */
    .bare-list,
    %bare-list {
        list-style: none;
        margin: 0;
    }

/* 
    resumes-rubrique-list
    ========================================================================== */ 

    .resumes-rubrique-list {
        @extend %bare-list;
    }
    .resumes-rubrique-list__item {
        margin-bottom: 2.5em;
    }

/* 
    resumes-list
    ========================================================================== */

    .resumes-list--time {
        > .hN {
            margin-bottom: 0;
            @include font-size(36px);
            font-weight: 300;
            color: $couleur-degrade-sombre;
        }
    }


/* 
    resumes-article-list
    ========================================================================== */

    .resumes-article-list {
        @extend %bare-list;
    }


/* 
    meta-list
    ========================================================================== */

    .meta-list {
        @extend %bare-list;
    }
    .meta-list__item {
        display:inline-block;
    }

/* 
   pager-list
   ========================================================================== */

.pager-list {
    @extend %bare-list;
}
.pager-list__item {
    padding-bottom: 1.5em;
    @include media-query(lap-and-up) {
        display:inline-block;
        width: 50%;
        vertical-align: top;
    }
}

/* 
    breadcrumb-list
    ========================================================================== */
.breadcrumb-list {@extend %bare-list;}
.breadcrumb-list__item {
    display: inline-block;
    margin-right: .375em; /* 6px */
    &:before {
        content:"/ ";
        color: $couleur-degrade-clair;
    }
}


    



