/*  ==========================================================================
    meta
    ========================================================================== */

.meta {
    color: rgba(#000,0.5);
    @include font-size(14px);
    font-style:italic;
}

// résumés
.meta-resume {
    margin-top: 1em;
}

// articles
.meta-article {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

// auteur
.meta-auteur {
    .meta-article & {
        margin-left: .5em;
        &:before {
            content:'\2022 ';
            margin-right: .5em;
        }
    }
}
