/* ==========================================================================
   $nav
   ========================================================================== */

%nav {
    list-style: none;
    margin: 0;
}

/* 
   site-navigation
   ========================================================================== */

.site-navigation {
    padding-top: 2em;
    text-transform: uppercase;
    @include font-size(18px);
}

/* 
   site-nav
   ========================================================================== */

.site-nav {
    @extend %nav;
    
}
.site-nav__item {
    > a {
        display: block;
        line-height: 2em;
        &:hover {
            color: #fff;
        }
    }
}
.site-nav__item--is-active {
    > a {
        color: #fff;
    }
}


/* 
   .site-nav-btn
   ========================================================================== */
.site-nav-btn {
    @include media-query(palm) {
        position: absolute;
        top: 1em;
        left: $base-spacing-unit;
        width: 24px;
        height: 24px;
        text-indent: -100%;
    }
    @include media-query(lap-and-up) {
        display: none;
    }
}

/* 
   media-query
   ========================================================================== */

@include media-query(palm) {
    .site-navigation {
        width: 100%;
        position: absolute;
        top: 0;
        padding-top: 2.8em;
    }
    .site-nav {
        background-color: rgba(#fff,0.95);
    }
    .site-nav__item {
        > a {
            border-bottom: 1px solid $link-color-nav;
            &:hover {
                color: $link-color-nav;
            }
        }
    }
    .site-nav__item--is-active {
        > a {color: $link-color-nav;}
    }
    .site-nav-open {
        background: url(../img/css/icons/menu.svg) center center no-repeat;
        background-size: contain;

    }
    .site-nav-close {
        background: url(../img/css/icons/close.svg) center center no-repeat;
        background-size: contain;
    }
    // sans js : target
    #nav {
        .site-nav-close {
            display: none;
        }
        &:not(:target) {
            z-index: -1;
            height: 0;
            overflow: hidden;
        }
        &:target {
            .site-nav-close {
                display: block;
            }
        }
    }
    .site-nav-close {
        .no-js & {
            background: #fff url(../img/css/icons/close.svg) center center no-repeat;
            background-size: contain;
            border-radius: 100px;
        }
    }
    // avec js
    .js {
        #nav {
            height: auto;
            bottom: 100%;
            top: auto;
            z-index: 0;
        }
    }
    .js-nav-open {
        #nav {
            top: 0;
            bottom: auto;
            .site-nav-close {display:block; z-index: 100;}
        }
        .site-nav-open {display:none;}
    }
    // transform
    .csstransforms {
        #nav {
            @include transition(opacity 0.3s ease);
            opacity: 0;
        }
        &.js-nav-open {
            #nav {
                opacity: 1;
            }
        }
    }
}

