/* ==========================================================================
   .pager
   ========================================================================== */

// .pager {}
.pager__item {
    @include media-query(lap-and-up) {
        display:inline-block;
        width: 50%;
        vertical-align: top;
    }
}
.pager__item-child {display: block;}
.pager-label {
    border-bottom: 1px solid $couleur-degrade-clair;
    font-family: $lato-font;
    @include font-size(20px);
    font-weight: 300;
    text-transform: uppercase;
    color: $couleur-degrade-clair;
    @include transition(color .3s ease-out,border .3s ease-out);
    a:hover & {
        border-bottom-color: $couleur-lien-hover;
        color: $couleur-lien-hover;
    }
}
.pager-title {
    margin-top: .3em;
    @include transition(color .3s ease-out);
    a:hover & {
        color: $couleur-lien-hover
    }
}
.label--is-disabled {
    &,&:hover {
        color: #ccc;
        border-bottom-color: #ccc;
    }
}
.label--previous {
    &:before {
        content: '\2190';
        margin-right: .5em;
        display: inline-block;
    }
}
.label--next {
    &:after {
        content:'\2192';
        display: inline-block;
        margin-left: .5em;
    }
}

@include media-query(lap-and-up) {
    .label--next {
        &,
        & + span {
            margin-left: 5%;
            text-align: right;
        }
    }
    .label--previous {
        &,
        & + span {
            margin-right: 5%;
        }
    }
}