/* ==========================================================================
   .resume
   ========================================================================== */

// .resume {}
.resume__titre {
    margin-bottom: 1em;
}

// .resume__desc {}

/* 
    .resumes-articles
    ========================================================================== */

.resumes-articles--time {
    > .hN {
        margin-bottom: 0;
        @include font-size(36px);
        font-weight: 300;
        color: $couleur-degrade-sombre;
    }
}


/* 
    .resume-article
    ========================================================================== */

.resume-article {
    margin-bottom: 3em;
    .resume__titre {
        @include font-size(20px);
        font-weight: 400;
    }
    .resume__desc {
        p {
            margin-bottom: .5em;
        }
    }
}


/* 
   .resume-rubrique
   ========================================================================== */

.resume-rubrique {
    margin-bottom: 3em;
    .resume__titre {
        @include font-size(20px);
        text-transform: uppercase;
        font-weight: 400;
    }
}

