/* ==========================================================================
   .resume
   ========================================================================== */

// .resume {}
.resume__titre {
    margin-bottom: 1em;
    a {color: #333;}
}

// .resume__desc {}

.resume__meta {
    margin-top: 1em;
    color: #999;
    color: rgba(#000,0.2);
    @include font-size(14px);
}

/* 
    .resume-article
    ========================================================================== */

.resume-article {
    .resume__titre {
        @include font-size(20px);
    }
    .resume__desc {
        p {
            margin-bottom: .5em;
        }
    }
}


/* 
   .resume-rubrique
   ========================================================================== */

.resume-rubrique {
    .resume__titre {
        @include font-size(20px);
        text-transform: uppercase;
    }
}

