/* ==========================================================================
   .resume
   ========================================================================== */

// .resume {}
.resume__titre {
    margin-bottom: 1em;
    a {color: #333;}
}

// .resume__desc {}

/* 
    .resume-article
    ========================================================================== */

.resume-article {
    .resume__titre {
        @include font-size(20px);
    }
    .resume__desc {
        p {
            margin-bottom: .5em;
        }
    }
}


/* 
   .resume-rubrique
   ========================================================================== */

.resume-rubrique {
    .resume__titre {
        @include font-size(20px);
        text-transform: uppercase;
    }
}

