/* ==========================================================================
   tri
   ========================================================================== */

.tri {
    p {
        float: right;
        padding: 0 .2em 0 2em;
        border-bottom: 1px solid #ddd;
        font-family: $lato-font;
        text-transform: uppercase;
    }
    a {
        border-bottom-width: 1px;
        border-bottom-color: transparent;
        // border-bottom: 1px solid #ccc;
        padding: .25em .25em .2em .75em;
        padding: .25rem .25rem .2rem .75rem;
        color: #ccc;
        &:hover {
            border-bottom-color: #fc0;
        }
    }
}
