/*  ==========================================================================
    marges
    ========================================================================== */

// marge basse 1.5
.self,
.self__header,
.self__body,
.body__chapo,
.body__texte,
.body__notes {
    @include marge-basse;
}

// marge basse 3
.self-rubrique {
    .self__header,
    .body__chapo,
    .body__img {
        @include marge-basse(3em);
    }
}

// marge gauche

.self__header .hN,
.self-article .pager,
.resumes-article-list .resume-article,
.resumes-rubrique-list .resume-rubrique,
.body__notes {
    @include media-query(desk) {
        @include pg-desk;
    }
    @include media-query(lap) {
        @include pg-lap;
    }
}
.self__header {
    .hN,
    .surtitre,
    .meta {
        @include media-query(desk) {
            @include pg-desk;
        }
        @include media-query(lap) {
            @include pg-lap;
        }
    }
}
.self__body {
    p,
    ul, 
    ol,
    dl,
    blockquote,
    .documents,
    h2, h3, h4, h5, h6 {
        @include media-query(desk) {
            @include pg-desk;
        }
        @include media-query(lap) {
            @include pg-lap;
        }
    }
    table {
        @include media-query(desk) {
            margin-left: 20%;
            width: 80%;
        }
        @include media-query(lap) {
            margin-left: 8%;
            width: 92%;
        }
    }
    hr.spip {
        @include media-query(desk) {
            margin-left: 20%;
        }
        @include media-query(lap) {
            margin-left: 8%;
        }
    }
    blockquote {
        p,
        ul,
        ol,
        dl,
        h2,h3,h4,h5,h6 {
            padding-left: 0;
        } 
    }
    .documents {
        dl,
        h2,
        p {
            padding-left: 0;
        }
    }
    .body__notes {
        h2,
        p {
            padding-left: 0;
        }
    }
}
