/*===========================
=            nav            =
===========================*/

.navigation {
    .nav {
        margin-bottom: 0;
    }
}

.nav__item {
    letter-spacing: 1px;
    padding-right: 1em;
    a {
        color: $gray-dark;
        &:hover {
            color: #000;
        }
    }
}

/* nav-principale */
.nav-principale {
    font-family: "BodoniBC";
    text-transform: uppercase;
    .nav {
        padding-bottom: 1em;
    }
    .nav__item {
        letter-spacing: 1px;
        padding-right: 1em;
        padding-bottom: .5em;
        @include media-query(desk) {
            @include font-size(18px);
        }
        @include media-query(portable) {
            @include font-size(16px);
        }
        a {
            border-bottom: 2px solid transparent;
            @include transition(border-color);
            &:hover,
            &.active {
                color: #000;
                border-bottom-color: #000;
            }
        }
    }
}

/* nav-foot */
.nav-foot {
    // border-top: 1px dotted $gray;
    font-family: "BodoniBk";
    // padding-top: .5em;
    margin-top: 2em;
    margin-bottom: 2em;
    .nav {
        padding-bottom: .3em;
    }
    .nav__item {
        @include font-size(14px);
        text-transform: uppercase;
    }
}


/*-----  End of nav  ------*/

