/*====================================
=            page-content            =
====================================*/

.page-content {
    width: 100%;
    padding-top: 11em; 
    text-align: left;
}

/*-----  End of page-content  ------*/

