/*=================================
=            page-head            =
=================================*/

.page-head {
    position: relative;
    background-color: #b209d0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    .active {
        color: #fff;
    }
}

.logo {
    display: block;
    margin-bottom: 1em;
    @include font-size(22px);
    font-weight: 400;
}

.nav{
    list-style:none;
    margin-left:0;
    @extend .cf;
    > li{
        @include font-size(16px);
        &,
        > a {
            display:inline-block;
            color: #000;
            &:hover {
                color: #fff;
            }
        }
    }
    .nav-principale & {
        margin-bottom: 0;
    }
}


/*-----  End of page-head  ------*/

