/*=============================
=            =page            =
=============================*/

html, body {
    min-height: 100%;
    width: 100%;
    font-weight: normal;
    font-style: normal;
    color: $text-color;

    // padding: 0 16%;
}



body {
    // max-width: 62.5em;
    margin: 0 auto;
}

.wrap {}


/*-----  End of =page  ------*/

