/*====================================
=            page-content            =
====================================*/

.page-content {
    width: 100%;
    text-align: left;
    @include media-query(lap-and-up) {
        padding-top: 11em;
    }
}

/*-----  End of page-content  ------*/

