/*============================
=            typo            =
============================*/

//font-family: 'Lato', sans-serif;
//font-family: 'Muli', sans-serif;
//font-family: 'Raleway', sans-serif;
//font-family: 'Quattrocento Sans', sans-serif;

/* links */
a {
    text-decoration: none;
    color: $link-color;
    @include transition(all .25s ease);
}

p a {
    color: #000;
    border-bottom: 1px dotted $link-color;
    &:hover {
        color: $link-color;
        border-bottom-color: $link-color;
    }
}

.suite,
.more {
    color: $gray-dark;
    font-style: italic;
}
.suite {
    em {
        padding-left: 0.1em;
        // @include transition(padding);
    }
    &:hover em {
        padding-left: 0.7em;
    }
}

.more {
    border: 1px dotted $gray;
    border-radius: 2px;
    // @include transition(all);
    &:hover {
        color: $link-color;
        border-style: solid;
    }
}


/* headings */
.hN {
    font-weight: 300;
    color: #000;
    font-family: 'Lato', sans-serif;
}
    /* headings type */
    .hN--section {
        margin-bottom: 2em;
        font-family: "BodoniBC";
        letter-spacing: 1px;
        text-transform: uppercase;
        position:relative;
        span {
            background-color: #fff;
            padding: 0 1em;
            margin: 0 2em;
            display: inline-block;
        }
        &:before {
            content: '';
            border-bottom: 1px solid #000;
            position:absolute;
            z-index: -1;
            top: 45%;
            left: 0;
            width: 100%;
        }
    }

    .intertitre {
        text-align: center;
    }

    /* headings size */
    @include media-query(palm) {
        .hN--m {
            @include font-size(20px);
        }
        .hN--s {
            @include font-size(16px);
        }
    }
    @include media-query(lap-and-up) {
        .hN--m {
            @include font-size(22px);
        }
        .hN--s {
            @include font-size(18px);
        }
    }

.soustitre {
    display: block;
    color: $gray-dark;
}

/*-----  End of typo  ------*/

