/**
*
* .spip_document
*
*/

.spip_document {
  display: flex !important;
  align-items: center;

  &.spip_document_left,
  &.spip_document_right {
    // margin-top: calc(var(--flow-space) + 0.5em) !important;
    // margin-bottom: var(--flow-space) !important;
    max-width: 33%;
  }

  &.spip_document_left {
    float: left;
    // margin-right: var(--gutter);
  }

  &.spip_document_right {
    float: right;
    // margin-left: var(--gutter);
  }

  &.spip_document_image {
    & .spip_doc_lien {
      display: block;
    }
  }

  & .oembed {
    padding: 0;
  }
}

.spip_doc_inner {
  max-width: 100%;
  flex: 1 1 0;
  margin-bottom: 0;

  & img,
  & picture {
    width: 100%;
  }
}

.spip_document_image {
  margin-top: 3rem;
  margin-bottom: 3rem;

  & .spip_doc_legende {
    margin-top: 1rem;
  }
}

// .spip_doc_legende {
//   font-size: var(--step--1);
// }

.spip_doc_titre {
  &,
  & strong {
    font-weight: 600;
  }

  // Si un div.spip_doc_descriptif ou div.spip_doc_credits est présent
  & + div {
    margin-top: 0.5rem;
  }
}

.spip_doc_descriptif,
.spip_doc_titre {
  & p {
    padding-left: 0;
    margin-bottom: 0;
  }
}

// Fichiers
.spip_document_file {
  // max-width: var(--prose-max-width);

  // Sidebar conteneur
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;

  & .spip_doc_inner {
    border: 1px solid rgba($couleur-degrade-sombre, 0.3);
    padding: 0.5rem;
    // not-sidebar
    min-width: 50%;
    flex-basis: 0;
    flex-grow: 999;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    gap: 1rem;

    & .spip_doc_lien {
      // sidebar
      flex-grow: 1;
      flex-basis: 64px;
    }

    & figcaption {
      flex-basis: 0;
      flex-grow: 999;
      min-width: var(--sidebar-content-min-width, 50%);
    }
  }
}
