/*  ==========================================================================
    base
    ========================================================================== */
html {
  color: $base-color;
  background-color: #fff;
}

img {
  width: 100%;
  height: auto;
}
