/* ==========================================================================
   $typo
   ========================================================================== */

/* 
    liens
    ========================================================================== */

a {
    color: #000;
    text-decoration: none;
    @include transition(color .3s ease-out,border .3s ease-out);
}

p, .resume__titre {
    a {
        color: inherit;
        border-bottom: 2px solid #fc0;
        &:hover {color: #fc0;}
    }
}

.suite {
    font-style: italic;
    em {
        font-weight: bold;
        @include transition(padding .3s ease-out);
    }
    &:hover {
        em {
            padding-left: 1em;
        }
    }
}



/* 
    intertitres
    ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
.hN,
.site-logo,
.site-navigation {
    font-family: $lato-font;
    font-weight: 300;
}

h2.spip {
    @include font-size(26px);
    color: $couleur-degrade-sombre;
    p + &,
    blockquote + &,
    dl + &,
    li + & {
        padding-top: 1em;
    }
}
h3.spip {
    @include font-size(23px);
    color: darken($couleur-degrade-sombre,8%);
    p + &,
    dl + &,
    blockquote + &,
    li + & {
        padding-top: 1em;
    }
    h2.spip & {padding-top: 0;}
}
h4.spip {
    @include font-size(20px);
    color: darken($couleur-degrade-sombre,20%);
    p + &,
    blockquote + &,
    dl + &,
    li + & {
        padding-top: 1em;
    }
    h3.spip & {padding-top: 0;}
}
h5.spip {
    @include font-size(18px);
    color: darken($couleur-degrade-sombre,30%);
    p + &,
    blockquote + &,
    dl + &,
    li + & {
        padding-top: 1em;
    }
    h4.spip & {padding-top: 0;}
}
h6.spip {
    @include font-size(16px);
    color: #000;
    p + &,
    blockquote + &,
    dl + &,
    li + & {
        padding-top: 1em;
    }
    h5.spip & {padding-top: 0;}
}



