/* ==========================================================================
   $typo
   ========================================================================== */

/* 
   liens
   ========================================================================== */

a {
    color: #000;
    text-decoration: none;
}



/* 
   intertitres
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
.hN,
.site-logo,
.site-navigation {
    font-family: $font-lato;
    font-weight: 300;
}
